:root {
    --background-color: hsl(30, 54%, 90%);
    --card-color: hsl(0, 0%, 100%);
    --footer-color: hsl(14, 45%, 36%);
    --h1-color: hsl(24, 5%, 18%);
    --p-color: hsl(30, 10%, 34%); 
    --prep-bg-color: hsl(330, 100%, 98%);
    --prep-h3-color: hsl(332, 51%, 32%);
    --h2-color: hsl(14, 45%, 36%);
    --hr-color:hsl(30, 18%, 87%);
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img, picture, video{
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    background-color: var(--background-color);
    font-family: 'young-serif', serif;
    font-size: 1rem;
    color: var(--p-color);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 33rem;

    background-color: var(--card-color);
    border-radius: .625rem;
    padding: 1.5rem;
    margin: 3rem auto;
}

header img {
    border-radius: 8px;
}

h1{
    color: var(--h1-color);
    font-size: 2rem;
    font-weight: 700;

    padding: 1rem 0 .625rem;
}

.preperation {
    background-color: var(--prep-bg-color);
    border-radius: .625rem;
    width: 100%;
    padding: 1rem;
    margin-top: 1rem;
}

.preperation h3 {
    color: var(--prep-h3-color);
    font-size: 1.2rem;
    margin-bottom: .625rem;
}

.preperation ul, .ingredients ul, .instructions ol {
    padding-left: 1.25rem;
}

h2 {
    color: var(--h2-color);
    font-size: 1.5rem;
    margin-bottom: .625rem;
}

.ingredients, .instructions, .nutrition {
    width: 100%;
    margin: 1rem 0;
}

.ingredients li {
    margin-bottom: .625rem;
}

hr {
    width: 100%;
    border: .05rem solid var(--hr-color);
    margin: .5rem;
}

.instructions li {
    margin-bottom: .625rem;
}

table, th, td {
    width: 100%;
    border-bottom: .05rem solid var(--hr-color);
    border-collapse: collapse;
    padding: .625rem 0;
}

th{
    text-align: left;
}

td {
    color: var(--h2-color);
    font-weight: 700;
}

footer { 
    font-size: .75rem; 

    position: absolute;
    margin-bottom: .75rem;
    text-align: center; 
}

footer a { 
    color: var(--footer-color); 
    text-decoration: none;
}